/*====  VARIABLES ============================ */
:root {
  --body-bg-color: #FAF7FD;
  --purple: #BB99DD;
}

/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.icon-twitter,
.icon-twitch,
.icon-instagram,
.icon-linkedin,
.icon-github{
  color: var(--purple);
}
/*===  BASE ============================ */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;

  transition: 0.3s;
  color: var(--purple);
}
a:hover{
  transform: translateY(-2px);
}
img {
  width: 100%;
  height: auto;
  clip-path: circle();
}

html{
  font-family: 'Poppins', sans-serif;
}

body {
  font: 300 1rem 'Poppins', sans-serif;
  color: var(--purple);
  background: var(--body-bg-color);
  -webkit-font-smoothing: antialiased;
}
/*====  LAYOUT ============================ */
body{
display: grid;
  justify-content: space-around;
  width: 100%;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.063rem;

  padding-top: 6.5rem
}
header img{
  margin-bottom: 0.938rem ;
}

ul{
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
.container {
  border: var(--purple) 0.125rem solid;
  text-align: center;
  margin-bottom: 1rem;
  font: 600 1rem 'Poppins', sans-serif;
}

footer{
  display: flex;
  justify-content: space-evenly;
}